<p>Hi <%= name %>,</p>
<p>Welcome to SingHealth!</p>
<p>You're temporary password is <%= password %></p>
<p>Please reset your password upon login on the Account page.</p>
<p>
  Click
  <a href="https://esc-singhealth-2-9.herokuapp.com/login">here</a> to login.
</p>
