<h1>Hi, <%= name %></h1>
<p>Your tenant is reminding you to complete rectification of the following issue: </p>
<img src="<%= image%>">
<h2> <%= title %></h2>
<p><%= description%></p>
<p> Click <a href="http://localhost:3001/">here</a> to check outstanding issues</p>