<p>Dear <%= name %>,</p>
<p>
Click
<a href="http://localhost:3000/resetenternewpassword/<%= email %>" id="link">here</a> to
reset your password
</p>

<!-- <script type="text/javascript">
//Set active nav link
window.onload = function () {
    var email = document.getElementById("email");
    email.style.display = "none";
    const hiddenField = document.createElement("input");
    hiddenField.type = "hidden";
    hiddenField.name = "email";
    hiddenField.value = email.innerHTML;
    document.getElementById("link").addEventListener("click", (e) => {
    e.preventDefault(); // cancel the actual link
    var myForm = document.createElement("form");
    myForm.appendChild(hiddenField);
    myForm.action = this.href; // the href of the link
    myForm.method = "POST";
    myForm.submit();
    });
};
</script>-->


<!-- By right, need to send to the server port, the result will be a new tab being opened that gives access to resetpassword page -->
