<p>Dear <%= name %>,</p>
<p>
  Click
  <a href="https://esc-singhealth-2-9.herokuapp.com/resetenternewpassword/<%= email %>">here</a> to
  reset your password
</p>

<!-- By right, need to send to the server port, the result will be a new tab being opened that gives access to resetpassword page -->
